body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 20px;
}

h1 {
    color: yellow;
    background-attachment: black;
    color: 255, 203, 5; /* rgb value */
    text-align: center;
}

.big_div {
    border: 3px solid 2E5490; /* hex value */
    padding: 20px;
    border: 12px;
    border-style: solid;
    border-color: blue;
    margin-bottom: 50px;
}

.pokemon_name {
    font-weight: bold;
    text-align: center;
    font-size: 150;
    font: bold;
    margin: 10px;
}

.sub_div {
    display: flex;
}

img {
    width: 20%;
    padding: 50px;
}

#special {
    font-weight: bold;
    color: 255, 203, 5; /* rgb value */
}